<header class="header">
  <div class="container header__wrapper">
    <div class="logo">
      <a class="logo__header">
        <img src="../img/logo.svg" width="192" height="32" alt="Logo" />
      </a>
    </div>
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Home</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Services</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#">About</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Product</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button class="btn btn__bordered">Sing in</button>
      <button class="btn btn__colored">Sing Up</button>
    </div>
  </div>
</header>
