<section class="promo">
  <div class="container promo__wrapper">
    <div class="promo__content">
      <h1 class="promo__title">The Design Thinking superpowers</h1>
      <p class="promo__text">Tools, tutorials, design and innovation experts, all in one place! The most intuitive way to imagine your next user experience.</p>
      <div class="promo__buttons">
        <button class="btn btn__colored">Get started</button>
        <a href="#" class="promo__link">
          <svg class="promo__link-svg">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>Watch the Video
        </a>
      </div>
    </div>
    <div class="promo__images">
      <img src="../img/promo.png" width="642" height="494" alt="Promo images" class="promo__images-img">
    </div>
  </div>
</section>
