<section class="tools">
  <div class="container tools__wrapper">
    <h2 class="tools__title">We design tools to unveil your superpowers</h2>
    <div class="tools__content">
      <div class="tool">
        <div class="tool__icon tool__icon--arrow">
          <span class="tool__icon-svg tool__icon-svg--arrow"></span>
        </div>
        <h3 class="tool__title">First click tests</h3>
        <p class="tool__text">While most people enjoy casino gambling,</p>
      </div>
      <div class="tool">
        <div class="tool__icon tool__icon--snake">
          <span class="tool__icon-svg tool__icon-svg--snake"></span>
        </div>
        <h3 class="tool__title">Design surveys</h3>
        <p class="tool__text">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </div>
      <div class="tool">
        <div class="tool__icon tool__icon--heart">
          <span class="tool__icon-svg tool__icon-svg--heart"></span>
        </div>
        <h3 class="tool__title">Preference tests</h3>
        <p class="tool__text">The Myspace page defines the individual.</p>
      </div>
      <div class="tool">
        <div class="tool__icon tool__icon--clock">
          <span class="tool__icon-svg tool__icon-svg--clock"></span>
        </div>
        <h3 class="tool__title">Five second tests</h3>
        <p class="tool__text">
          Personal choices and the overall personality of the person.
        </p>
      </div>
    </div>
    <div class="tools__buttons">
      <button class="btn btn__colored btn__tools">Sign Up now</button>
    </div>
  </div>
</section>
